.job_list{
  .title{
    text-align left
    font-size 14px
    padding 10px 10px 3px 10px
  }
  .list_content{
    border-top 1px solid #e3e3e3
    .list_wrapper{
      border-top 1px solid #e3e3e3
    }
    .list_menu{
      text-align left
      .menu_header{
        display flex
        border-bottom 1px solid #e3e3e3
        padding 10px 10px 10px 5px
        i{
          line-height 18px
          flex 1
        }
      }
      .job_num{
        font-size 14px
        .confirmed{
          color #77D07D
        }
      }
    }
  }
  .bottom{
    background-color #ffffff
    div{
      font-size 16px
      line-height 3
      border-top 1px solid #e3e3e3
      color #ffffff
    }
    .cancel{
      flex 3
      background-color #F58E8D
    }
    .confirm{
      flex 4
      background-color #55D58F
    }
  }
}
