.job_list{
  .title{
    text-align left
    font-size 14px
    padding 10px 10px 3px 10px
  }
  .list_content{
    .list_wrapper{
      border-top 1px solid #e3e3e3
    }
    .list_menu{
      text-align left
      .menu_header{
        display flex
        border-bottom 1px solid #e3e3e3
        padding 10px 10px 10px 5px
        i{
          line-height 18px
          flex 1
        }
      }
      .job_num{
        font-size 14px
        .confirmed{
          color #77D07D
        }
      }
    }
  }
}
