.personal_page{
  .self_info{
    display flex
    padding 10px
    .head_pic{
      width 70px
      height 70px
      border 1px solid #e3e3e3
      border-radius 50%
    }
    .text_area{
      flex 1
      align-self center
      ul{
        text-align left
        padding-left 15px
        li{
          line-height 30px
        }
      }
    }
    .label{
      align-self center
    }
    i{
      align-self center
    }
  }
  .other_info{
    text-align left
    li{
      padding 10px
      border-bottom 1px solid #e3e3e3
      i{
        float right
      }
    }
  }
}
