.s_carousel{
  .s_carousel_container{
    position relative
    height 300px
    .s_carousel_arrow{
      position absolute
      width 36px
      height 36px
      border-radius 50%
      border none
      outline none
      color #fff
      top 50%
      transform translateY(-50%)
      background-color rgba(31,45,61,.11)
    }
    & .s_carousel_arrow_right{
      right 16px
    }
    & .s_carousel_arrow_left{
      left 16px
    }
  }
}
