.list_card{
  .menu_header{
    display flex
    align-items center
    text-align left
    border-bottom 1px solid #e3e3e3
    padding 10px 10px 10px 5px
    i{
      line-height 18px
      padding-right 10px
      transition transform .5s linear
      &.clicked{
        transform rotate(90deg)
      }
    }
    .job_title{
      flex 1
    }
    .job_num{
      font-size 14px
      .confirmed{
        color #77D07D
      }
    }
  }
  .sub_list{
    .sub_list_info{
      display flex
      align-items center
      text-align left
      border-bottom 1px solid #e3e3e3
      padding 5px 10px
      p{
        margin 0
        padding 0
      }
      .head_pic{
        width 30px
        height 30px
        border 1px solid #e3e3e3
        border-radius 50%
      }
      .user_info{
        flex 1
        font-size 14px
        margin-left 10px
      }
    }
  }
  .fold_transition{
    transition all .5s linear
  }
}
